ion-button {
    min-width: 260px !important;
    max-width: 260px !important;
    overflow-wrap: break-word;
    word-break: break-all;
}

.crop {
    height: 250px;
    overflow: hidden;
}

.crop img {
    width: 500px;
    margin: 0px 0px 0px 0px;
}