<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content appScrollTheme>


  <div id="top" class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
      <section>
        <span class="block text-6xl font-bold mb-1">{{ 'home.title-welcome' | translate }}!</span>
        <div class="text-6xl text-primary font-bold mb-3">{{ 'home.subtitle-welcome' | translate }}.</div>
        <p class="mt-0 mb-4 text-700 line-height-3">{{ 'home.title-description' | translate }}.</p>

        <button pButton pRipple label="Learn More" type="button" class="mr-3 p-button-raised text-white"></button>
        <button pButton pRipple label="Live Demo" type="button" class="p-button-outlined"></button>
      </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
      <img src="{{ heroImg }}" alt="Image" class="md:ml-auto block md:h-full"
        style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
  </div>

  <div id="skills" class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="text-center">
      <div class="mb-3 font-bold text-4xl">
        <span class="text-900">{{ 'home.develop-primary' | translate }}, </span>
        <span class="text-primary">{{ 'home.develop-secondary' | translate }}.</span>
      </div>
      <div class="text-700 text-sm mb-6">{{ 'home.develop-description' | translate }}.</div>
      <div class="grid">
        <div *ngFor="let s of skills" class="col-12 md:col-4 mb-4 px-5">
          <span class="p-3 shadow-2 mb-3 inline-block" style="border-radius: 10px">
            <fa-icon class="text-4xl text-primary" style="font-size: 20px;" [icon]="[s.icon_type, s.icon]">
            </fa-icon>
          </span>
          <div class="text-900 mb-3 font-medium">{{ s.title | translate }}.</div>
          <span class="text-700 text-sm line-height-3">{{ s.description | translate }}.</span>
        </div>
      </div>
    </div>
  </div>

  <div id="enpower" class="surface-section px-4 pb-8 md:px-6 lg:px-8">
    <div class="p-6 shadow-2 flex flex-column md:flex-row align-items-center justify-content-between"
      style="border-radius: 1rem; background: linear-gradient(0deg, var(--gradient-begin), var(--gradient-middle)), linear-gradient(92.54deg, var(--gradient-ending) 47.88%, #FFFFFF 100.01%)">
      <div class="pr-6">
        <div class="text-blue-100 font-medium text-xl mb-3">{{ 'home.enpower-banner-subtitle' | translate }}</div>
        <div class=" font-medium text-5xl">{{ 'home.enpower-banner-title' | translate }}</div>
      </div>
      <div class="mt-4 mr-auto md:mt-0 md:mr-0">
        <button pButton pRipple label="{{ 'home.enpower-banner-button' | translate }}"
          class="spy-btn font-bold px-5 py-3 p-button-secondary p-button-rounded  surface-0 text-900 white-space-nowrap"></button>
      </div>
    </div>
  </div>

  <div id="roadmap" class="surface-ground px-4 py-8 md:px-6 lg:px-8">
    <div>
      <div class="text-900 font-bold text-4xl line-height-3 mb-3 text-center">{{ 'home.roadmap-about-title' | translate
        }}</div>
      <p class="text-600 line-height-3 text-lg m-0 mb-6 text-center">{{ 'home.roadmap-about-description' | translate }}.
      </p>

      <div class="grid surface-card shadow-2  text-center" style="border-radius: 10px">
        <div class="col-12 md:col-4 px-5 py-5">
          <fa-icon class="text-4xl text-primary mb-3" [icon]="['fas', 'graduation-cap']"></fa-icon>
          <div class="text-900 font-bold text-4xl mb-3 line-height-3">{{ 'home.roadmap-graduate-title' | translate
            }}</div>
          <p class="text-700 m-0">{{ 'home.roadmap-graduate-description' | translate }}</p>
        </div>
        <div class="col-12 md:col-4 px-5 py-5">
          <fa-icon class="text-4xl text-primary mb-3" [icon]="['fas', 'cloud']"></fa-icon>
          <div class="text-900 font-bold text-4xl mb-3 line-height-3">{{ 'home.roadmap-specialist-title' | translate
            }}</div>
          <p class="text-700 m-0">{{ 'home.roadmap-specialist-description' | translate }}</p>
        </div>
        <div class="col-12 md:col-4 px-5 py-5">
          <fa-icon class="text-4xl text-primary mb-3" [icon]="['fas', '3']"></fa-icon>
          <div class="text-900 font-bold text-4xl mb-3 line-height-3">{{ 'home.roadmap-experience-title' | translate
            }}</div>
          <p class="text-700 m-0">{{ 'home.roadmap-experience-description' | translate }}</p>
        </div>
      </div>
    </div>
  </div>

  <div id="certifications" class="surface-ground px-4 py-8 md:px-6 lg:px-8">
    <div>
      <div class="font-bold text-4xl text-900 mb-5 text-center">Featured Articles</div>
      <div class="grid nogutter">
        <div *ngFor="let c of certifications" class="col-12 lg:col-4 p-3">
          <div class="shadow-2 border-round h-full surface-card">
            <div class="crop">
              <img src="{{ c.img }}" alt="Image" class="block w-full border-round-top ">
            </div>
            <div class="p-4">
              <span class="block font-medium text-primary mb-3">{{ c.title | translate }}</span>
              <div class="text-xl text-900 font-medium mb-3 line-height-3 ">{{ c.subtitle | translate }}</div>
              <div class="text-sm line-height-3 mb-3 text-700">{{ c.description | translate }}.</div>
              <div class="flex">
                <div class="ml-2">
                  <div class="text-lg flex align-items-center  text-700">
                    <i class="pi pi-calendar mr-1 text-lg"></i>
                    <span>{{c.issue_date | date: 'MM/yy' }}</span>
                  </div>
                </div>
              </div>
              <div class="flex justify-content-end">
                <div class="ml-2 ">
                  <div class="text-xl flex align-items-center text-primary cursor-pointer"
                    (click)="openLink(c.external_link)">
                    <span>{{ 'home.certification-detail' | translate }}</span>
                    <i class="ml-1 pi pi-external-link text-right"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="contact" class="surface-ground ">
    <div class="grid grid-nogutter mx-2 mb-1">
      <div class="col-12 md:col-6 bg-no-repeat bg-cover p-8"
        style="background-image: url('assets/imgs/outros/talking to me.png')">
        <div class=" text-2xl font-medium mb-6 text-white">{{ 'home.contact-title' | translate}}</div>
        <div class="text-gray-300 line-height-3 mb-6">{{ 'home.contact-description' | translate}} </div>
        <ul class="list-none p-0 m-0 mt-6 ">
          <li class="flex align-items-center mb-2 cursor-pointer text-white">
            <i class="pi pi-phone mr-2"></i>
            <span>+55 (21) 97252-8990</span>
          </li>
          <li class="flex align-items-center mb-4 text-white">
            <i class="pi pi-inbox mr-2"></i>
            <span>lhccorrea@hotmail.com</span>
          </li>
          <li class="flex align-items-center mb-2 cursor-pointer text-white"
            (click)="openLink('https://www.linkedin.com/in/henriquedecastro-dev/')">
            <i class="pi pi-linkedin mr-2"></i>
            <span>@henriquedecastro-dev</span>
            <i class="pi pi-external-link ml-2 text-xs"></i>
          </li>
          <li class="flex align-items-center mb-2 cursor-pointer text-white"
            (click)="openLink('https://www.instagram.com/henriquedecastro.dev/')">
            <i class="pi pi-instagram mr-2"></i>
            <span>@henriquedecastro.dev</span>
            <i class="pi pi-external-link ml-2 text-xs"></i>
          </li>
          <li class="flex align-items-center mb-2 cursor-pointer text-white" (click)="openLink('https://github.com/M4D-MAESTRO')">
            <i class="pi pi-github mr-2"></i>
            <span>M4D-MAESTRO</span>
            <i class="pi pi-external-link ml-2 text-xs"></i>
          </li>
        </ul>
      </div>
      <div class="col-12 md:col-6">
        <div class="p-fluid formgrid grid px-4 py-8 md:px-6 lg:px-8">
          <div class="field col-12 lg:col-6 p-float-label mb-4">
            <input id="firstname" type="text" class="py-3 px-2 text-lg" pInputText placeholder="First Name">
          </div>
          <div class="field col-12 lg:col-6 p-float-label mb-4">
            <input id="lastname" type="text" class="py-3 px-2 text-lg" pInputText placeholder="Last Name">
          </div>
          <div class="field col-12 mb-4">
            <input id="email" type="text" pInputText class="py-3 px-2 text-lg" placeholder="Email">
          </div>
          <div class="field col-12 mb-4">
            <input id="email" type="text" pInputText class="py-3 px-2 text-lg" placeholder="Phone">
          </div>
          <div class="field col-12 mb-4">
            <textarea id="message" pInputTextarea rows="3" [autoResize]="true" class="py-3 px-2 text-lg"
              placeholder="Message"></textarea>
          </div>
          <div class="col-12 text-right">
            <button type="button" pButton pRipple label="Submit" icon="pi pi-envelope"
              class="px-5 py-3 w-auto"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>